//@theme "/usr/share/rofi/themes/Monokai.rasi"
//@theme "/home/juan/.config/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/lb.rasi"
//@theme "/home/juan/.config/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/purple.rasi"
//@theme "/home/juan/.config/rofi/themes/nord.rasi"
@theme "/usr/share/rofi/themes/purple.rasi"
